body{
    background-color: burlywood;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.profile-pic{
    height: 100%;
    width:auto;
}

.user-detail{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 15px;
    flex-grow: 2;
}

.user-detail h2{
    margin: 0;
    font-size: 28px;
}

.user-detail span{
    margin: 0;
    display: inline-block;
}

nav{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 150px;
    color: white;
}

.home,.projects, .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-grow: 1;
}

.home{
    background-color: lightblue;
}

.home ion-icon, .projects ion-icon, .contact ion-icon {
    font-size: 100px;
}
